<header class="site_header">
  <div class="site_header_content">
    <h2 class="header_title">Sophie Wang</h2>
    <h3 class="header_label">Full-Stack Developer</h3>
    <%- include("./nav") %>
  </div>
  <div class="site_header_img">
    <img id="profile_img" src="/images/profile.png" alt="Profile headshot">
  </div>
</header>
