<nav class="nav_links">
    <ul>
        <li class="nav_button"><a href="/">Home</a></li>
        <li class="nav_button"><a href="/projects">Projects</a></li>
        <li class="nav_button"><a href="/story">My Story</a></li>
    </ul>
</nav>