<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body class="frame">
    <%- include("./partials/header") %>
    <main>
        <div class="content">
            <p><%= about %></p>
        </div>
        <div class="socials">
            <%  %>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>


